body {
    margin-top: 10%;
    background-image: url("station.jpg"); ;
    background-size: cover;
    font-family:cursive;
    font-weight: bold;
    text-align: center;
    
}

.container{
    background-color: antiquewhite;
    padding: 20px;
    max-width:30%;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;

}
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    font-family:Georgia, 'Times New Roman', Times, serifs;
    border: 2px solid black ;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-bttn {
    background: darkred;
}

#save-bttn {
    background: darkgreen;
}

/* p{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: aqua;
    background-color: antiquewhite;
    

} */

#save-el{
    font-weight: bolder;

}